RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
RewriteRule ^Voucher/save/?$ index.php?url=Voucher/save [L,QSA] 

# AJAX Add to Cart
RewriteRule ^Product/addToCartAjax/([0-9]+)/?$ index.php?controller=Product&action=addToCartAjax&id=$1 [L,QSA]
# Voucher Routes - PHẢI CÓ
RewriteRule ^Voucher/save/?$ index.php?url=Voucher/save [L,QSA]
RewriteRule ^Voucher/add/?$ index.php?url=Voucher/add [L,QSA]
RewriteRule ^Voucher/list/?$ index.php?url=Voucher/list [L,QSA]
RewriteRule ^Voucher/update/?$ index.php?url=Voucher/update [L,QSA]
RewriteRule ^Voucher/delete/([0-9]+)/?$ index.php?url=Voucher/delete&id=$1 [L,QSA]